tbody {
    width: 100%;
}

img#flag_p1, img#flag_p2{
    margin-left: 98%;
    margin-top: -3%;
}

table.racer_table {
  height: 50px;
  width: 100%;
}


td {
    height: 1em;
    width: 2.4%;
}

img {
	zoom: 1.5;
}

img#player1 {
    margin-left: 1%;
}