html {
}

body {
  background-image: url('../img/back4.jpg');
  background-size: cover;
}

tbody {
    width: 100%;
}

img#flag_p1, img#flag_p2{
    margin-left: 98%; 
    margin-top: -3%;
    float: right;
}


img {
  zoom: 1.5;
}

img#player1 {
    margin-left: 0%;
    margin-top: 7%;
}

img#player2 {
    margin-left: 0%;
    margin-top: 1%
}

.winner p {
    text-align: center;
    font-size: 2em;
}

.spacer1 {
    margin-top: 2%;
}

.spacer2 {
    margin-top: 34%;
}

.winner {
    height: auto;
    width: auto;
}

td {
    width: 30%;
    height: 30%;
    font-size: 1.5em;
}

.scores {
    display: flex;
    flex-direction: row;
    width: 100%;
}

td {
    width: 30%;
    height: 30%;
    font-size: 1.5em;
}

.scores_left_spacer {
    width: 40%;
}

.scores_right_spacer {
    width: 40%;
}