<div class="container">
  <h1>Welcome  <%= @login_user.name %> !! </h1>
  <p>Hello!</p>
      <a href="public/racer.html">Play JS Racer HERE!!</a><br>
      <a href="/logout">LOGOFF HERE!!</a>
      
</div>
